@tailwind base;
@tailwind components;
@tailwind utilities;

/* REMOVE ALL VITE DEFAULT STYLES */

html {
  scroll-behavior: smooth;
}

/* Force input text to be white */
input, textarea {
  color: white !important;
}

/* Stop Chrome autofill background from turning white/yellow */

/* On focus too */

